<div class="row">
  <div class="col-lg-8 mx-auto text-center">
    <h1 class="display-4 text-primary mb-4">EventPay Manager</h1>
    <p class="lead">イベント管理と決済を簡単に</p>
    
    <% if user_signed_in? %>
      <div class="mt-4">
        <h3>ようこそ、<%= current_user.email %>さん！</h3>
        <p>イベントの作成・管理を始めましょう。</p>
        <button class="btn btn-primary btn-lg">イベントを作成する</button>
      </div>
    <% else %>
      <div class="mt-4">
        <%= link_to "今すぐ始める", new_user_registration_path, class: "btn btn-primary btn-lg me-3" %>
        <%= link_to "ログイン", new_user_session_path, class: "btn btn-outline-primary btn-lg" %>
      </div>
    <% end %>
  </div>
</div>
